@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

/* Header */


/* End */

/* Banner */



/* End */

/* Popular Kotegoriya */

#popular_kotegoriya {
    margin: 25px 0;
}

#popular_kotegoriya h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

#popular_kotegoriya .h2 {
    display: flex;
    align-items: last baseline;
    font-weight: 600;
}

#popular_kotegoriya .h2 a {
    margin: 0 7px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: #000;
}

.h2 .line {
    width: 10px;
    height: 1.1px;
    margin-left: 5px !important;
    background: #000;
    transform: translateX(500%);
    transition: .3s;
    opacity: 1;
}

.h2 .arrow {
    overflow: hidden;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
}

.h2 a:hover .line {
    transform: translateX(0);
    display: block;
}

#popular_kotegoriya .h2 i {
    transition: .3s;
    /* transform: translateX(-100%); */
}

.h2 a:hover i {
    transform: translateX(0) !important;
}

.h2 a:hover .arrow {
    width: 23px;
}



#popular_kotegoriya .boxes {
    display: flex;
    flex-wrap: wrap;
}

#popular_kotegoriya .boxes img {
    width: 100%;
    border-radius: 10px;
    background: rgba(158, 158, 158, 0.5411764706);
}

#popular_kotegoriya .boxes .box {
    transition: 0.3s;
    cursor: pointer;
    padding: 0 15px;
    height: 400px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
}

#popular_kotegoriya .boxes .box:hover {
    box-shadow: 5px 5px 5px 0.5px rgba(0, 0, 0, 0.39);
    transform: scale(1.05);
}

#popular_kotegoriya .boxes .box p {
    height: 66px;
}

/* End */



/* Lider Sell */



/* End */

/* Banner popular_kotegoriya */



/* End */

/* Aksiya */



/* End */

/* Our Works */



/* End */

/* Footer */



/* End */